<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 名空间，对应当前dao的全限定了类名-->
<mapper namespace="com.qf.dao.TeacherOneToOneMapper">

    <!-- 建立一对一的关系映射-->
    <resultMap id="BaseResult" type="teacherOneToOne">
        <id property="tid" column="t_id"></id>
        <result property="teacherName" column="teacher_name"></result>
        <result property="age" column="age"></result>
        <result property="address" column="address"></result>
        <!--
            association 标签
            property 实体中的属性名
            javaType 具体的实体类的全限定类名
        -->
        <association property="classes" javaType="classes">
            <id property="cid" column="c_id"></id>
            <result property="className" column="class_name"></result>
            <result property="teacher" column="teacher"></result>
        </association>
    </resultMap>

    <select id="selectAll" resultMap="BaseResult">
        select * from teacher t, classes c where t.t_id = c.teacher
    </select>

</mapper>